doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title
    // compiled css output
    link(href='css/ionic.app.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    // ionic/angularjs js
    script(src='lib/ionic/js/ionic.bundle.js')
    // cordova script (this will be a 404 during development)
    script(src='cordova.js')
    // your app's js
    script(src='js/app.js')
    script(src='js/main_controller.js')
  body(ng-app='ss-calculator', ng-controller='MainCtrl')
    .bar.bar-header.bar-assertive
      h1.title C@!C **
    ion-content.has-header
      .display {{display}}
      .button-bar
        .a.button(ng-click='number(7)') 7
        .a.button(ng-click='number(8)') 8
        .a.button(ng-click='number(9)') 9
        .a.button(ng-click='calc("*")') *
      .button-bar
        .a.button(ng-click='number(4)') 4
        .a.button(ng-click='number(5)') 5
        .a.button(ng-click='number(6)') 6
        .a.button(ng-click='calc("-")') -
      .button-bar
        .a.button(ng-click='number(1)') 1
        .a.button(ng-click='number(2)') 2
        .a.button(ng-click='number(3)') 3
        .a.button(ng-click='calc("/")') /
      .button-bar
        .a.button(ng-click='number(0)') 0
        .a.button(ng-click='number(".")') .
        .a.button(ng-click='calc("+")') +
        .a.button(ng-click='answer()') =
        .a.button(ng-click='clear()') C

    .bar.bar-footer.bar-calm
      .title
        small &copy; 2014 shruti
